<ul class="scheduleContainer list-group"></ul>
<button class="btn btn-primary mt-3" id="addBtn"><i class="fas fa-plus"></i></button>
<button class="btn btn-success mt-3" id="saveBtn"><i class="fas fa-save"></i></button>
