<form class="form-inline">
	<div class="col">
		<input type="time" class="form-control time" value="{{time}}">
	</div>
	<div class="col">
		<input type="number" class="form-control quantity" value="{{q}}">
	</div>
</form>
<div class="col">
	<button class="btn btn-danger delete"> x </button>
</div>
